/* alterando o box-model */
*{ box-sizing: border-box;}

body{
    background-color: rgba(255, 127, 80, 0.521);
    font-family: 'Times New Roman', Times, serif;
/* css reset */
    margin: 0;
    padding: 0;
}
h1{
    background-color: black;
    color: blanchedalmond;
    margin: 0;
    padding-left: 15px;
}

.introducao{
background-image: url(../imagens/teclado.jpg);
/* versao abreciada/curta */
padding: 220px 0;

   /* Versão completa: */
    /* padding-top: 220px;
    padding-bottom: 220px;
    padding-left: 0;
    padding-right: 0; */
background-attachment: fixed;
background-size: cover;
background-position: center ;

}
main{
   width: 90%; 
   margin: auto;
   max-width: 1000px;
}
p{
   /*line-height: 30px; espaçamaento entre linha de texto 
    padding-top: 15px;*/
}

footer{
    background-image: linear-gradient(black,darkblue);
    color: white;
    font-weight: bold;
    text-align: center;
/* usando o flex para alinhamento horizontal e vertical */
    display: flex; /*ativando o modoflex*/
    justify-content: center;
    align-items: center;
}












.container { 
    margin-top: 80px;
margin-bottom: 80px;
}
@media screen and (max-width: 760px) {
    .registro{
        width: 130px;
        height: 130px;
        font-weight: 14px;
        padding: 45px;
    }
    .hoje { font-size: 18px;}
}
   
.treinamentos section{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 33%;
    padding: 10px;
}

.treinamentos {
    display: flex;
    justify-content: space-around;
}
.flutuar-esquerda {
    float: left;
    width: 160px;
    margin-right: 5px;

}
.ajuste { padding-top: 15px;}